:root { 
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --light-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --mobile-breakpoint: 375px;
  --desktop-breakpoint: 1440px;

  --border-radius: 15px;
}

/*-------------------------------- 
///////CSS RESET/////////////
---------------------------------*/

*, *::before, *::after {
  box-sizing: border-box;
}

* { 
  margin: 0;
  padding: 0;
}

body { 
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

html, body {
  height: 100%;
}

body { 
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--light-gray);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*-------------------------------- 
///////UTILITY CLASSES/////////////
---------------------------------*/
.flex { 
  display: flex;
}

.flex-col { 
  flex-direction: column;
}

.items-center { 
  align-items: center;
}

.justify-center { 
  justify-content: center;
}

.round-border { 
  border-radius: var(--border-radius, 15px);
}

.bg-white { 
  background-color: var(--white);
}

.container { 
  padding: 1em;
  max-width: 25rem;
  margin-inline: auto;
}

/*-------------------------------- 
///////OTHER CLASSES/////////////
---------------------------------*/

article { 
  width: 80%;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

h1 { 
  width: 275px;
  line-height: 1.2;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 700;
  color: var(--dark-blue);
}

p { 
  text-align: center;
  width: 275px;
  color: var(--light-blue);
  font-weight: 400;
}

img {
  border-radius: var(--border-radius);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


